<h1 class="subtitle">Add Progress</h1>

<form action="/progress/add" method="post" class="form">

    <div>
        <label>Weight(Kg):</label><br>
        <input type="number" step="any" name="weight" required>
    </div>

    <div>
        <label>Height(m):</label><br>
        <input type="number" step="any" name="height" required>
    </div>

    <div>
        <label>Fat Percentage(%):</label><br>
        <input type="number" step="any" name="fatPercentage">
    </div>

    <button type="submit">Add</button>
</form>