<div id="home-page">
    <div id="home-info">
        <h2>Welcome to FitHub</h2>
        <p>Personalize your workout routine with 1300+ exercises</p>
    </div>
    <div id="home-btn">
        <a href="/exercises">Check Exercises</a>
    </div>
</div>

<div id="quote">
    <div>
        <i>"Everybody has talent, but ability takes hard work"</i>
        <span>~ Michael Jordan</span>
    </div>
</div>

<footer>
    <a href="https://rapidapi.com/justin-WFnsXH_t6/api/exercisedb">API Exercises</a>
</footer>
