<h1 class="subtitle">Add Calendar</h1>

<form action="/calendars/new" method="post" class="form">

    <div>
        <label>Title</label><br>
        <input type="text" name="title" required>
    </div>

    <button type="submit">Add</button>
</form>