<h1 class="subtitle">Choose a Body Part</h1>

<div id="body-parts">
    <div class="body-part-div">
        <img src="images/arms.png" style="width: 125px">
        <a href="/exercises/arms"><h3>Arms</h3></a>
    </div>

    <div class="body-part-div">
        <img src="images/waist.png" style="width: 125px">
        <a href="/exercises/waist"><h3>Waist</h3></a>
    </div>

    <div class="body-part-div">
        <img src="images/shoulders.png" style="width:125px">
        <a href="/exercises/shoulders"><h3>Shoulders</h3></a>
    </div>

    <div class="body-part-div">
        <img src="images/chest.png" style="width: 125px">
        <a href="/exercises/chest"><h3>Chest</h3></a>
    </div>

    <div class="body-part-div">
        <img src="images/legs.png" style="width: 125px">
        <a href="/exercises/legs"><h3>Legs</h3></a>
    </div>

    <div class="body-part-div">
        <img src="images/back.png" style="width: 125px">
        <a href="/exercises/back"><h3>Back</h3></a>
    </div>
</div>
