<h1 class="subtitle">Exercises</h1>

<div id="exercises">
    {{#each exercises}}
        <div id="exercise-card">
            <h3>{{name}}</h3>
            <a href="/exercises/{{bodyPart}}/{{id}}">Learn more</a>
        </div>
    {{/each}}
</div>
